BasedOnStyle: LLVM
AccessModifierOffset: -2
AlignAfterOpenBracket: DontAlign
AllowShortBlocksOnASingleLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: 'true'
BreakBeforeBraces: Attach
BasedOnStyle: LLVM
ColumnLimit: 0
DerivePointerAlignment: 'false'
IndentCaseLabels: false
IndentWidth: '2'
Language: Cpp
PointerAlignment: Left
TabWidth: '2'
UseTab: Never